[Unit]
Description=%i service with docker compose
Requires=docker.service
After=docker.service
User=pupici

[Service]
Restart=always

WorkingDirectory=/opt/Pupici-HA/pupici/

# Compose up
ExecStart=docker-compose -f docker-compose.yml -f docker-compose.prod.yml up -d

# Compose down
ExecStop=docker-compose -f docker-compose.yml -f docker-compose.prod.yml down

[Install]
WantedBy=multi-user.target