[Unit]
Description=%i service with docker compose
Requires=docker.service
After=docker.service

[Service]
Restart=always
User=pupici
WorkingDirectory=/opt/Pupici-HA/pupici/

# Compose up
ExecStart=/usr/local/bin/docker-compose -f /opt/Pupici-HA/pupici/docker-compose.yml -f /opt/Pupici-HA/pupici/docker-compose.prod.yml up -d

# Compose down
ExecStop=/usr/local/bin/docker-compose -f /opt/Pupici-HA/pupici/docker-compose.yml -f /opt/Pupici-HA/pupici/docker-compose.prod.yml down

[Install]
WantedBy=multi-user.target